# Carpetas de compilación y salida (No se versionan)
build/
dist/
debug/
disassembly/

# Archivos generados por el usuario/sistema local dentro de nbproject
nbproject/private/

# Archivos de respaldo que genera MPLAB al guardar
*~
*.bak
.atl/
openspec/
nbproject/configurations.xml
nbproject/Makefile-default.mk
nbproject/Makefile-genesis.properties
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/.vscode
/
# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
